# Core functionality - changes here should be rare!
/src/app.py                   @gautamsagar99
/src/backend/database.py      @gautamsagar99
/src/backend/routers/auth.py  @gautamsagar99

# The frontend will need refactored soon to be more object oriented.
/src/static/   @gautamsagar99
